
.main_wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.pagination_wrapper{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 700px;
}
.slider{
    overflow-x: auto;
    white-space: nowrap;
    width: 100%;
    border-radius: 7px;
    padding: 10px 1px  3px 1px;
    margin:5px;

}
.page{
    display: inline-block;
    border-radius: 4px;
    padding: 2px;
    height: 35px;
    min-width: 40px;
    font-size: 30px;
    text-align: center;
    background:linear-gradient(180deg, #726f6f 0%, #38383b 100%);
    font-family: sans-serif;
    color: snow;
    margin-right: 5px;
}


.page:hover,
.prev_next:hover{
    cursor: pointer;
    background:#726f6f;
}
.slider::-webkit-scrollbar{
    /*background-color: white;*/
    border-radius: 5px;
    height: 6px;
}
.slider::-webkit-scrollbar-thumb{
    background:linear-gradient(180deg, #d9d6d6 0%, #38383b 100%);
    border-radius: 5px;
    width: 55px;
}
.prev_next{
    display: flex;
    align-items: center;
    padding: 6px 14px;
    font-family: -apple-system, BlinkMacSystemFont, 'Roboto', sans-serif;
    border-radius: 4px;
    border: none;
    height: 39px;
    font-size: 20px;
    color: #fff;
    background: linear-gradient(180deg, #726f6f 0%, #38383b 100%);
    background-origin: border-box;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}



.page_of_pages{
    font-family: -apple-system, BlinkMacSystemFont, 'Roboto', sans-serif;

}