
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    border: none;
    font-weight: bold;
    background-color: black;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    font-family: sans-serif;
    width: 100%;
    padding: 8px;
}
.user{
    background-size:cover;
    background-image: url("https://static.vecteezy.com/system/resources/previews/013/042/571/original/default-avatar-profile-icon-social-media-user-photo-in-flat-style-vector.jpg");
    width: 50px;
    height: 50px;
    border-radius: 50px;
    margin-right: 15px;
}

.icon_button-mode_wrapper{
    gap: 40px;
    display: flex;
    flex-direction:row;
    align-items: center;
    justify-content: center;
}
.header_title{
    gap: 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-left: 15px;
}
.header_nav{
    border: 1px solid slategray;
    border-radius: 5px;
    padding: 3px;
}
.header_nav:hover{
   padding: 5px;
    transition: all 250ms;
    cursor: pointer;
}
h1{
    cursor: pointer;
    margin: 0;
}