.poster_title {
    font-family: sans-serif;
    display: flex;
    flex-wrap: wrap;
    width: 190px;
    margin: 15px;
    align-items: center;
    justify-content: center;
}
.poster_title_wrapper{
    background: white;
    border-bottom: 1px solid #726f6f;
    border-left: 1px solid #726f6f;
    border-right: 1px solid #726f6f;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 198px;
    height: 320px;
    border-radius: 10px;
    text-align: center;
    padding-bottom: 5px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}
.title_link{
    text-decoration: none;
    color: black;
   font-weight: bold;
}
