.poster_title {
    font-family: sans-serif;
    display: flex;
    flex-wrap: wrap;
    width: 230px;
    text-align: center;
    margin: 15px;
}
.poster_title_wrapper{
    border: 1px solid black;
    padding: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: fit-content;
    border-radius: 5px;
}