.all_genre{
    display: flex;
    flex-direction: row;
    gap: 5px;
    flex-wrap: wrap;
    align-items: center;
    padding: 20px;
    font-family: sans-serif;
    justify-content: space-between;
}
